.feats{
    background: #18191d;
    padding-top: 100px;
}
.items div {
    padding: 60px 50px;      
}
.items{
    margin-top: 60px !important;
    margin-bottom: 90px;
}
.items:hover{
    border: 2px solid;
    border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59) 30;
}
.icons i{
    color: #aaa;
    font-size: 70px;
}
.icons i svg{
    margin-bottom: 30px;
}
.items h5 {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}
.more-info-io{
   font-size: 50px;
    color: white;
}
@media screen and (max-width:991px){
    .items{
        margin-bottom: 10px;
    }
} 
